@page "/CurrentGames"

@using MiniatureGolf.Models
@using MiniatureGolf.Services

@inherits MiniatureGolf.Pages.CurrentGamesModel

<h1>MiniatureGolf current games</h1>

<div class="c-flexContainer">
    <TelerikButton Class="c-flexItem" OnClick="@(() => this.LoadGames(DateFilter.Day))">day</TelerikButton>
    <TelerikButton Class="c-flexItem" OnClick="@(() => this.LoadGames(DateFilter.Week))">week</TelerikButton>
    <TelerikButton Class="c-flexItem" OnClick="@(() => this.LoadGames(DateFilter.Month))">month</TelerikButton>
    <TelerikButton Class="c-flexItem" OnClick="@(() => this.LoadGames(DateFilter.Quarter))">quarter</TelerikButton>
    <TelerikButton Class="c-flexItem" OnClick="@(() => this.LoadGames(DateFilter.Year))">year</TelerikButton>
</div>

<TelerikGrid Data=@this.CurrentGames Height="600">
    <TelerikGridColumns>
        <TelerikGridColumn Title="" Editable="false">
            <Template>
                <a class="btn btn-info" href="@($"/MiniatureGolf/{(context as Gamestate).Id}/{(int)UserMode.SpectatorReadOnly}/0")" role="button"><span class="oi oi-link-intact">  open game</span></a>
            </Template>
        </TelerikGridColumn>

        <TelerikGridColumn Title="Starttime" Editable="false">
            <Template>
                <div>@((context as Gamestate).CreationTime.ToLocalTime())</div>
            </Template>
        </TelerikGridColumn>

        <TelerikGridColumn Title="Playercount" Editable="false">
            <Template>
                <div>@($"{(context as Gamestate).Teams.SelectMany(a => a.Players).Count():#00}")</div>
            </Template>
        </TelerikGridColumn>

        <TelerikGridColumn Title="Players" Editable="false">
            <Template>
                <div>@(string.Join(", ", (context as Gamestate).Teams.SelectMany(a => a.Players).Select(a => a.Name)))</div>
            </Template>
        </TelerikGridColumn>
    </TelerikGridColumns>
</TelerikGrid>

<style>
    .c-flexContainer {
        display: flex;
        justify-content: space-between;
    }

    .c-flexItem {
        flex-grow: 1;
        margin: 5px;
    }
</style>
                    