@page "/fetchdata"
@using MiniatureGolf.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<TelerikGrid Data=@this.Forecasts
             Sortable="true"
             Pageable="true" PageSize="15" Page="1">
    <TelerikGridColumns>
        <TelerikGridColumn Title="Date" Field="@nameof(WeatherForecast.Date)">
            <Template>
                @((context as WeatherForecast).Date.ToString("d"))
            </Template>
        </TelerikGridColumn>

        <TelerikGridColumn Title="Temp. (C)" Field="@nameof(WeatherForecast.TemperatureC)" />
        <TelerikGridColumn Title="Temp. (F)" Field="@nameof(WeatherForecast.TemperatureF)" />
        <TelerikGridColumn Title="Summary" Field="@nameof(WeatherForecast.Summary)" />
    </TelerikGridColumns>
</TelerikGrid>

@functions {
    public IEnumerable<WeatherForecast> Forecasts { get; set; }

    protected override async Task OnInitAsync()
    {
        this.Forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
